<html>
    <head>
        <!-- Foundation styles -->
        <link rel='stylesheet' href='css/normalize.css' />
        <link rel='stylesheet' href='css/foundation.css' />

        <!-- Highlight styles -->
        <link rel='stylesheet' href='css/highlight.css' />

        <!-- App styles -->
        <link rel='stylesheet' href='css/app.css' />

        <!-- jigna related scripts -->
        <script type='text/javascript' src='/jigna/jigna.js'></script>
        <script type='text/javascript'>
            jigna.initialize()
        </script>

        <!-- Foundation scripts -->
        <script type='text/javascript' src='js/modernizr.js'></script>
        <script type='text/javascript' src='js/foundation.min.js'></script>

        <!-- Highlight scripts -->
        <script type='text/javascript' src='js/highlight.pack.js'></script>
        <script type='text/javascript'>
            hljs.initHighlightingOnLoad();
        </script>

        <!-- App scripts -->
        <script type='text/javascript' src='js/app.js'></script>
    </head>

    <body ng-app='DemoApp'>
        <div ng-controller='DemoController'>

            <!-- Top bar -->
            <nav class='top-bar'>
                <div class='title-area row'>
                    <span class='title small-3 columns'>
                        <h3><a href="#">Jigna</a></h3>
                    </span>

                    <span class='small-2 right columns'>
                        <h5>
                            <a class='view-mode active' href="#">Examples</a>
                        </h5>
                    </span>

                    <span class='small-2 right columns'>
                        <h5>
                            <a class='view-mode' href="#">Presentation</a>
                        </h5>
                    </span>
                </div>
            </nav>

            <div class='row full-width full-height'>

                <!-- Example listing -->
                <div class='small-2 columns example-listing full-height'>
                    <div class='listing'>

                        <div class='example-entry heading'>
                            Examples
                        </div>

                        <div class='example-entry'
                             ng-repeat='example in server.examples'
                             ng-class='{active: active_example == $index}'
                             ng-click='update_active_example($index)'>
                            {{example.name}}
                        </div>

                    </div>
                </div>

                <!-- Example contents -->
                <div class='small-10 columns example-contents full-height'>
                    <div class='example-content full-height'
                         ng-repeat='example in server.examples'
                         ng-show='active_example == $index'>
                        <div class='heading'>
                            {{example.name}}
                        </div>

                        <div class='code-area row'>
                            <div class='small-6 columns'>
                                Domain Model:<br><br>
                                <pre><code class='python' highlight='example.domain_model_code'>
                                </code></pre>
                            </div>

                            <div class='small-6 columns'>
                                UI layer:<br><br>
                                <pre><code class='html' highlight='example.ui_layer_code'>
                                </code></pre>
                            </div>
                        </div>

                        <div class='bottom-area'>
                            <button class='btn right'
                                    ng-click='example.run()'>
                                Run example
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            $(document).foundation();
        </script>
    </body>
</html>
