<html>
    <head>
        <!-- Foundation styles -->
        <link rel='stylesheet' href='css/normalize.css' />
        <link rel='stylesheet' href='css/foundation.css' />

        <!-- App styles -->
        <link rel='stylesheet' href='css/app.css' />

        <!-- jigna related scripts -->
        <script type='text/javascript' src='/jigna/jigna.js'></script>
        <script type='text/javascript'>
            jigna.initialize()
        </script>

        <!-- Foundation scripts -->
        <script type='text/javascript' src='js/modernizr.js'></script>
        <script type='text/javascript' src='js/foundation.min.js'></script>

        <!-- App scripts -->
        <script type='text/javascript' src='js/app.js'></script>
    </head>

    <body ng-app='DemoApp'>
        <div ng-controller='DemoController'>

            <!-- Top bar -->
            <nav class='top-bar'>
                <div class='title-area row'>
                    <span class='title small-3 columns'>
                        <h3><a href="#">Jigna</a></h3>
                    </span>

                    <span class='small-2 right columns'>
                        <h5>
                            <a class='view-mode active' href="#">Examples</a>
                        </h5>
                    </span>

                    <span class='small-2 right columns'>
                        <h5>
                            <a class='view-mode' href="#">Presentation</a>
                        </h5>
                    </span>
                </div>
            </nav>

            <div class='row full-width'>

                <!-- Example listing -->
                <div class='small-2 columns example-listing'>
                    <div class='listing'>

                        <div class='example-entry heading'>
                            Examples
                        </div>

                        <div class='example-entry active' ng-click='update_active(4)'>
                            Simple view
                        </div>

                        <div class='example-entry' ng-click='update_active(4)'>
                            Method call
                        </div>

                        <div class='example-entry' ng-click='update_active(4)'>
                            Method call slow
                        </div>

                        <div class='example-entry' ng-click='update_active(4)'>
                            Event trait
                        </div>

                        <div class='example-entry' ng-click='update_active(4)'>
                            Success/error callbacks
                        </div>

                        <div class='example-entry' ng-click='update_active(4)'>
                            Embedding Qt and Mayavi
                        </div>

                    </div>
                </div>

                <!-- Example contents -->
                <div class='small-10 columns example-contents'>
                    <div class='example-content' ng-show='active_view == 0'>
                        <div class='example-name'>
                            Simple view
                        </div>

                        <div class='code-area'>
                            Code
                            <textarea></textarea>
                        </div>

                        <div class='bottom-area'>
                            <button class='btn right'>Run example</button>
                        </div>
                    </div>

                    <div class='example-content' ng-show='active_view == 1'>
                        <div class='example-name'>
                            Model updates
                        </div>

                        <div class='code-area'>
                            Code
                            <textarea></textarea>
                        </div>

                        <div class='bottom-area'>
                            <button class='btn right'>Run example</button>
                        </div>
                    </div>

                    <div class='example-content' ng-show='active_view == 2'>
                        <div class='example-name'>
                            Method call
                        </div>

                        <div class='code-area'>
                            Code
                            <textarea></textarea>
                        </div>

                        <div class='bottom-area'>
                            <button class='btn right'>Run example</button>
                        </div>
                    </div>

                    <div class='example-content' ng-show='active_view == 3'>
                        <div class='example-name'>
                            Slow method call
                        </div>

                        <div class='code-area'>
                            Code
                            <textarea></textarea>
                        </div>

                        <div class='bottom-area'>
                            <button class='btn right'>Run example</button>
                        </div>
                    </div>

                    <div class='example-content' ng-show='active_view == 4'>
                        <div class='example-name'>
                            Event trait
                        </div>

                        <div class='code-area'>
                            Code
                            <textarea></textarea>
                        </div>

                        <div class='bottom-area'>
                            <button class='btn right'>Run example</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            $(document).foundation();
        </script>
    </body>
</html>
